.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  margin: 1rem;
}
.pet-card {
  margin: 1rem;
  padding-top: 1rem;
}

.img {
  width: 500px;
  height: 500px;
  margin: 2rem;
  border-radius: 50%;
}
