.links-wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.social-links {
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  background: rgb(109, 187, 250);
  height: 100px;
  width: 100%;
  margin-top: 10rem;
}
